* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  display: block;
  overflow: hidden;
  background-color: black;
}
body a {
  text-decoration: none;
}
body .promo video {
  position: fixed;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
}
body .promo .rightcorner {
  width: 150px;
  height: auto;
  text-align: right;
  position: absolute;
  top: 2.5%;
  right: 2%;
}
body .promo .rightcorner .social {
  display: none;
}
body .caption {
  position: absolute;
  font-size: 10px;
  height: auto;
  padding: 4px;
  top: 4.5%;
  left: 5%;
  background-color: rgba(0, 0, 0, 0.05);
  font-family: Istok Web;
  color: white;
}
body .caption div p {
  margin: 0;
  text-align: center;
  letter-spacing: 5px;
}
body .soundbuttom {
  display: none;
}
body .rightbottom {
  width: 120px;
  height: auto;
  padding: 0.5%;
  text-align: right;
  position: absolute;
  top: 95%;
  right: 1.5%;
  background-color: rgba(0, 0, 0, 0.5);
  width: 120px;
  height: auto;
  padding: 0.5%;
  text-align: right;
  position: absolute;
  bottom: 2%;
  right: 5%;
}
body .rightbottom .mobilsocial {
  margin: auto;
}
body .rightbottom i {
  display: inline-block;
  width: 19.8px;
  height: 19.8px;
  line-height: 20px;
  text-align: center;
  color: white;
  font-size: 80%;
  border-radius: 50%;
  margin-left: 2%;
  margin-right: 2%;
}
body .knap {
  width: 50px;
  height: 50px;
  background: white;
  position: absolute;
  left: 25%;
  bottom: -25px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 50%;
  overflow: hidden;
}
body .knap i {
  height: 25px;
  width: 50px;
  padding-left: 35%;
  padding-top: 8%;
  font-size: 23px;
}
body .mercoverlay {
  height: 500px;
  width: 100%;
  background-color: white;
  display: none;
  position: absolute;
  bottom: 0;
}
body .mercoverlay .control_prev {
  position: absolute;
  top: 210px;
  left: 5%;
  text-decoration: none;
  font-size: 60px;
  font-family: Roboto;
  color: black;
}
body .mercoverlay .control_next {
  position: absolute;
  top: 210px;
  right: 5%;
  text-decoration: none;
  font-size: 60px;
  font-family: Roboto;
  color: black;
}
body .mercoverlay .close {
  position: absolute;
  top: 10px;
  right: 10px;
  text-decoration: none;
  font-size: 25px;
  font-family: Roboto;
  color: black;
}
body .mercoverlay #slider {
  width: 335px;
  height: 400px;
  overflow: hidden;
  margin: auto;
  margin-top: 20px;
}
body .mercoverlay #slider .slides {
  display: block;
  width: 3015px;
  height: 400px;
}
body .mercoverlay #slider .slide {
  float: left;
  list-style-type: none;
  width: 325px;
  height: 400px;
  margin: 0 5px;
}
body .mercoverlay #slider .slide p {
  font-family: Istok Web;
  text-align: center;
  margin-top: 10px;
  color: grey;
  text-decoration: none;
}
body .mercoverlay #slider .slide p:nth-of-type(2) {
  font-weight: bold;
  color: black;
}
body .mercoverlay #slider .left1 {
  margin-left: -335px;
}
body .mercoverlay #slider .left2 {
  margin-left: -670px;
}
body .mercoverlay #slider .left3 {
  margin-left: -1005px;
}
body .mercoverlay #slider .left4 {
  margin-left: 1340px;
}

@media screen and (min-width: 490px) {
  body .promo video {
    position: fixed;
  }
  body .promo video .rightcorner {
    top: 1.5%;
    right: 2%;
  }
  body .rightbottom {
    width: 110px;
    top: 93%;
    right: 1.5%;
  }
  body .rightbottom .mobilsocial {
    margin: auto;
  }
  body .rightbottom .mobilsocial i {
    width: 19.8px;
    height: 19.8px;
    line-height: 20px;
    font-size: 80%;
  }
}
@media screen and (min-width: 768px) {
  body .caption {
    position: absolute;
    font-size: 14px;
    height: auto;
    padding: 4px;
    top: 4.5%;
    left: 5%;
    background-color: rgba(0, 0, 0, 0.05);
    font-family: Istok Web;
    color: white;
  }
  body .caption div p {
    margin: 0;
    text-align: center;
    letter-spacing: 8px;
  }
  body .promo video {
    position: fixed;
  }
  body .promo .rightcorner {
    width: 20%;
    top: 2.5%;
    right: 1.5%;
  }
  body .promo .rightcorner .social {
    display: block;
    text-align: center;
    margin: auto;
    padding-top: 10px;
  }
  body .promo .rightcorner .social i {
    display: inline-block;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    color: white;
    font-size: 16px;
    border-radius: 50%;
    margin-left: 2%;
    margin-right: 2%;
  }
  body .rightbottom {
    display: none;
  }
  body .mercoverlay #slider {
    width: 670px;
  }
  body .knap {
    width: 100px;
    height: 100px;
    left: 50%;
    bottom: -50px;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    border-radius: 50%;
    overflow: hidden;
  }
  body .knap i {
    height: 50px;
    width: 100px;
    padding-left: 35%;
    padding-top: 8%;
    font-size: 46px;
  }
}
@media screen and (min-width: 880px) {
  body .promo video {
    position: fixed;
    left: 0;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    width: 100%;
  }
  body .promo .rightcorner {
    width: 140px;
    top: 4%;
    right: 2.5%;
  }
  body .promo .rightcorner .social {
    display: block;
    text-align: center;
    margin: auto;
  }
  body .promo .rightcorner .social a {
    width: 25%;
    height: 33px;
  }
  body .promo .rightcorner .social a i {
    font-size: 15px;
    margin: 0;
  }
  body .rightbottom {
    display: none;
  }
  body #mybutton {
    width: 100%;
    position: absolute;
    top: 10px;
    text-align: center;
  }
  body #mybutton #mute {
    display: block;
    font-size: 25px;
    padding: 1%;
    color: white;
  }
}
@media screen and (min-width: 1200px) {
  body .promo video {
    position: fixed;
    -webkit-transform: none;
            transform: none;
    width: 100%;
  }
  body .promo .rightcorner {
    width: 240px;
    top: 4%;
    right: 2.5%;
  }
  body .promo .rightcorner .social {
    display: block;
    text-align: center;
    margin: auto;
  }
  body .promo .rightcorner .social a {
    width: 25%;
    height: 33px;
  }
  body .promo .rightcorner .social a i {
    width: 50px;
    font-size: 30px;
    margin: 0;
  }
  body .caption {
    font-size: 30px;
    top: 4%;
    left: 2.5%;
  }
  body .promo .rightbottom {
    display: none;
  }
  body .knap {
    width: 100px;
    height: 100px;
    left: 50%;
    bottom: -50px;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    border-radius: 50%;
    overflow: hidden;
  }
  body .knap i {
    height: 50px;
    width: 100px;
    padding-left: 35%;
    padding-top: 8%;
    font-size: 46px;
  }
  body .mercoverlay {
    height: 500px;
    width: 100%;
    background-color: white;
    display: none;
    position: absolute;
    bottom: 0;
  }
  body .mercoverlay .control_prev {
    position: absolute;
    top: 210px;
    left: 5%;
    text-decoration: none;
    font-size: 60px;
    font-family: Roboto;
  }
  body .mercoverlay .control_next {
    position: absolute;
    top: 210px;
    right: 5%;
    text-decoration: none;
    font-size: 60px;
    font-family: Roboto;
  }
  body .mercoverlay #slider {
    width: 1005px;
    height: 400px;
    overflow: hidden;
    margin: auto;
    margin-top: 20px;
  }
  body .mercoverlay #slider .slides {
    display: block;
    width: 3015px;
    height: 400px;
  }
  body .mercoverlay #slider .slide {
    float: left;
    list-style-type: none;
    width: 325px;
    height: 400px;
    margin: 0 5px;
  }
  body .mercoverlay #slider .slide p {
    font-family: Istok Web;
    text-align: center;
    margin-top: 10px;
    color: grey;
  }
  body .mercoverlay #slider .slide p:nth-of-type(2) {
    font-weight: bold;
    color: black;
  }
  body .mercoverlay #slider .left1 {
    margin-left: -335px;
  }
  body .mercoverlay #slider .left2 {
    margin-left: -670px;
  }
  body .mercoverlay #slider .left3 {
    margin-left: -1005px;
  }
  body .mercoverlay #slider .left4 {
    margin-left: 1340px;
  }
}
