body {
  margin: 0;
  display: block;
}
body .promo {
  overflow: hidden;
}
body .promo video {
  position: fixed;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
}
body .promo .rightcorner {
  width: 22%;
  height: auto;
  padding: 0.5%;
  text-align: right;
  position: absolute;
  top: 1.5%;
  right: 2%;
  background-color: rgba(0, 0, 0, 0.5);
}
body .promo .rightcorner .social {
  display: none;
}
body .caption {
  position: absolute;
  font-size: 60%;
  width: 20%;
  height: auto;
  padding: 4px;
  top: 1.5%;
  left: 2%;
  background-color: rgba(0, 0, 0, 0.5);
}
body .caption p {
  margin: 0;
  text-align: center;
  color: white;
}
body .soundbuttom {
  display: none;
}
body .rightbottom {
  width: 110px;
  height: auto;
  padding: 0.5%;
  text-align: right;
  position: absolute;
  top: 95%;
  right: 1.5%;
  background-color: rgba(0, 0, 0, 0.5);
}
body .rightbottom .mobilsocial {
  margin: auto;
}
body .rightbottom i {
  display: inline-block;
  width: 19.8px;
  height: 19.8px;
  line-height: 20px;
  text-align: center;
  color: Black;
  font-size: 80%;
  border-radius: 50%;
  background-color: White;
  margin-left: 2%;
  margin-right: 2%;
}

@media screen and (min-width: 490px) {
  body .promo video {
    position: fixed;
  }
  body .promo video .rightcorner {
    width: 22%;
    top: 1.5%;
    right: 2%;
  }
  body .promo video .rightcorner .caption {
    font-size: 12px;
    width: 20%;
    top: 1.5%;
    left: 2%;
  }
  body .rightbottom {
    width: 110px;
    top: 93%;
    right: 1.5%;
  }
  body .rightbottom .mobilsocial {
    margin: auto;
  }
  body .rightbottom .mobilsocial i {
    width: 19.8px;
    height: 19.8px;
    line-height: 20px;
    font-size: 80%;
  }
}
@media screen and (min-width: 680px) {
  body .promo video {
    position: fixed;
  }
  body .promo .rightcorner {
    width: 20%;
    top: 2.5%;
    right: 1.5%;
  }
  body .promo .rightcorner .social {
    display: block;
    text-align: center;
    margin: auto;
  }
  body .promo .rightcorner .social i {
    display: inline-block;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    color: Black;
    font-size: 16px;
    border-radius: 50%;
    background-color: White;
    margin-left: 2%;
    margin-right: 2%;
  }
  body .caption {
    font-size: 18px;
    width: 22%;
    top: 2.5%;
    left: 1.5%;
  }
  body .caption p {
    padding: 2px;
  }
  body .rightbottom {
    display: none;
  }
}
@media screen and (min-width: 880px) {
  body .promo video {
    position: fixed;
    -webkit-transform: translate(-30%, 0);
            transform: translate(-30%, 0);
    width: 100%;
  }
  body .promo .rightcorner {
    width: 20%;
    top: 4%;
    right: 2.5%;
  }
  body .promo .rightcorner .social {
    display: block;
    text-align: center;
    margin: auto;
  }
  body .promo .rightcorner .social i {
    width: 33px;
    height: 33px;
    line-height: 33px;
    font-size: 20px;
  }
  body .caption {
    font-size: 23px;
    width: 20%;
    top: 4%;
    left: 2.5%;
  }
  body .rightbottom {
    display: none;
  }
  body #mute {
    position: absolute;
    display: block;
    top: 4%;
    font-size: 50px;
    left: 50%;
  }
}
@media screen and (min-width: 1200px) {
  body .promo video {
    position: fixed;
    -webkit-transform: none;
            transform: none;
    width: 100%;
  }
  body .promo .rightcorner {
    width: 20%;
    top: 4%;
    right: 2.5%;
  }
  body .promo .rightcorner .social {
    display: block;
    text-align: center;
    margin: auto;
  }
  body .promo .rightcorner .social i {
    width: 33px;
    height: 33px;
    line-height: 33px;
    font-size: 20px;
  }
  body .promo .caption {
    font-size: 30px;
    width: 20%;
    top: 4%;
    left: 2.5%;
  }
  body .promo .rightbottom {
    display: none;
  }
}
