

body{
  margin: 0;
  display: block;
}

.promo{
  overflow: hidden;
}

.promo video{
  position: fixed;
  transform: translate(-50%,0%);
}

.promo .rightcorner{
  width: 22%;
  height: auto;
  padding: 0.5%;
  text-align: right;
  position: absolute;
  top: 1.5%;
  right: 2%;
  background-color: rgba(0,0,0,.5);
}

.promo .rightcorner .social{
  display: none;
}

  .promo .caption{
    position: absolute;
    font-size: 60%;
    width: 20%;
    height: auto;
    padding: 4px;
    top: 1.5%;
    left: 2%;
    background-color: rgba(0,0,0,.5);
  }

  .promo .caption p{
    margin: 0;
    text-align: center;
    color: white;
    }

    .promo .rightbottom{
      width: 110px;
      height: auto;
      padding: 0.5%;
      text-align: right;
      position: absolute;
      top: 95%;
      right: 1.5%;
      background-color: rgba(0,0,0,.5);
    }

  .promo .rightbottom .mobilsocial{
    margin: auto;
  }
    .promo .mobilsocial i{
      display: inline-block;
      width: 19.8px;
      height: 19.8px;
      line-height: 20px;
      text-align: center;
      color: Black;
      font-size: 80%;
      border-radius: 50%;
      background-color: White;
      margin-left: 2%;
      margin-right: 2%;
    }

    @media screen and (min-width: 490px) {

      .promo video{
        position: fixed;
      }

      .promo .rightcorner{
        width: 22%;
        top: 1.5%;
        right: 2%;
      }

        .promo .caption{
          font-size: 12px;
          width: 20%;
          top: 1.5%;
          left: 2%;
        }

          .promo .rightbottom{
            width: 110px;
            top: 93%;
            right: 1.5%;
          }

        .promo .rightbottom .mobilsocial{
          margin: auto;
        }
        .promo .mobilsocial i{
          width: 19.8px;
          height: 19.8px;
          line-height: 20px;
          font-size: 80%;
      }
  }

@media screen and (min-width: 680px){

  .promo video{
    position: fixed;
  /*  width: 100%;*/

  }
  .promo .rightcorner{
    width: 20%;
    top: 2.5%;
    right: 1.5%;
  }

  .promo .rightcorner .social{
    display: block;
    text-align: center;
    margin: auto;
  }
    .promo .rightcorner i{
      display: inline-block;
      width: 25px;
      height: 25px;
      line-height: 25px;
      text-align: center;
      color: Black;
      font-size: 16px;
      border-radius: 50%;
      background-color: White;
      margin-left: 2%;
      margin-right: 2%;
    }

  .promo .caption{
    font-size: 18px;
    width: 22%;
    top: 2.5%;
    left: 1.5%;
  }

  .promo .caption p{
      padding: 2px;
    }

    .promo .rightbottom{
      display: none;
    }
}

@media screen and (min-width: 880px){

  .promo video{
    position: fixed;
    transform: translate(-30%,0);
    width: 100%;
  }

.promo .rightcorner{
  width: 20%;
  top: 4%;
  right: 2.5%;
}

.promo .rightcorner .social{
  display: block;
  text-align: center;
  margin: auto;
}
  .promo .rightcorner i{
    width: 33px;
    height: 33px;
    line-height: 33px;
    font-size: 20px;
  }

.promo .caption{
  font-size: 23px;
  width: 20%;
  top: 4%;
  left: 2.5%;
}
  .promo .rightbottom{
    display: none;
  }
}

@media screen and (min-width: 1200px) {

  .promo video{
    position: fixed;
    transform: none;
    width: 100%;
  }

  .promo .rightcorner{
    width: 20%;
    top: 4%;
    right: 2.5%;
  }

  .promo .rightcorner img{

  }

  .promo .rightcorner .social{
    display: block;
    text-align: center;
    margin: auto;
  }
    .promo .rightcorner i{
          width: 33px;
          height: 33px;
          line-height: 33px;
          font-size: 20px;
    }

  .promo .caption{
    font-size: 30px;
    width: 20%;
    top: 4%;
    left: 2.5%;
  }

    .promo .rightbottom{
      display: none;
    }
  }
