//sass doc
//import af alle docs til dette hoved sass

//alle imports over denne, fra hver sides sass
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}
body{
  margin: 0;
  display: block;
  overflow: hidden;
  background-color: black;

  .promo{

    video{
      position: fixed;
      transform: translate(-50%,0%);
    }

    .rightcorner{
      width: 150px;
      height: auto;
      text-align: right;
      position: absolute;
      top: 2.5%;
      right: 2%;;
        // background-color: rgba(0,0,0,.5);

        .social{
          display: none;
        }
    }
  }

.caption{
  position: absolute;
  font-size: 14px;
  width: 112px;
  height: auto;
  padding: 4px;
  top: 4.5%;
  left: 5%;
  background-color: rgba(0, 0, 0, 0.05);

      p{
      margin: 0;
      text-align: center;
      color: white;
      }
  }

      .soundbuttom{
        display: none;
      }

      .rightbottom{
      width: 110px;
      height: auto;
      padding: 0.5%;
      text-align: right;
      position: absolute;
      top: 95%;
      right: 1.5%;
      background-color: rgba(0,0,0,.5);

      .mobilsocial{
        margin: auto;
      }
          i{
          display: inline-block;
          width: 19.8px;
          height: 19.8px;
          line-height: 20px;
          text-align: center;
          color: Black;
          font-size: 80%;
          border-radius: 50%;
          background-color: White;
          margin-left: 2%;
          margin-right: 2%;
          }
        }

// OVERLAY CSS KNAP

        .knap{
          width: 50px;
          height: 50px;
          background: white;
          position: absolute;
          left: 50%;
          bottom: -25px;
          transform: translateX(-50%);
          border-radius: 50%;
          overflow: hidden;

          i {
            height: 25px;
            width: 50px;
            padding-left: 35%;
            padding-top: 8%;
            font-size: 23px;
          }
        }

// OVERLAY CSS

        .mercoverlay {
          height: 500px;
          width: 100%;
          background-color: white;
          // aktiver når du er færdig med at style
          display: none;
          position: absolute;
          bottom: 0;

          .control_prev{
            position: absolute;
            top: 210px;
            left: 5%;
            text-decoration: none;
            font-size: 60px;
            font-family: Roboto;
          }

          .control_next{
            position: absolute;
            top: 210px;
            right: 5%;
            text-decoration: none;
            font-size: 60px;
            font-family: Roboto;
          }



          #slider {
            width: 335px;
            height: 400px;
            overflow: hidden;
            margin: auto;
            margin-top: 20px;

            .slides {
              display: block;
              width: 3015px;
              height: 400px;
            }

            .slide {
              float: left;
              list-style-type: none;
              width: 325px;
              height: 400px;
              margin: 0 5px;

              p{
                font-family: Istok;
                text-align: center;
                margin-top: 10px;
                color: grey;

                &:nth-of-type(2) {
                  font-weight: bold;
                  color: black;
                }
              }
            }

            .left1 {
              margin-left: -335px;
            }

              .left2 {
                margin-left: -670px;
            }

            .left3{
              margin-left: -1005px;
            }

            .left4 {
              margin-left: 1340px;
            }
          }
        }
}

    @media screen and (min-width: 490px) {

      body{

      .promo {


      video{
        position: fixed;

        .rightcorner{
        top: 1.5%;
        right: 2%;


         // .caption{
         //  font-size: 12px;
         //  width: 20%;
         //  top: 1.5%;
         //  left: 2%;
        // }
      }
    }
}
      .rightbottom{
      width: 110px;
      top: 93%;
      right: 1.5%;


        .mobilsocial{
          margin: auto;

          i{
          width: 19.8px;
          height: 19.8px;
          line-height: 20px;
          font-size: 80%;
          }
      }
    }
  }
}
@media screen and (min-width: 768px){

  body{

  .promo {

    video{
    position: fixed;


  }
    .rightcorner{
    width: 20%;
    top: 2.5%;
    right: 1.5%;


    .social{
    display: block;
    text-align: center;
    margin: auto;

      i{
      display: inline-block;
      width: 25px;
      height: 25px;
      line-height: 25px;
      text-align: center;
      color: Black;
      font-size: 16px;
      border-radius: 50%;
      background-color: White;
      margin-left: 2%;
      margin-right: 2%;
      }
      }
    }
}
    // .caption{
    // font-size: 18px;
    // width: 22%;
    // top: 2.5%;
    // left: 1.5%;
    //
    //
    //   p{
    //   padding: 2px;
    // }
    // }

    .rightbottom{
      display: none;
    }

    .mercoverlay #slider {
      width: 670px;
    }
}
}
@media screen and (min-width: 880px){

  body{
  .promo {

    video{
    position: fixed;
    left: 0;
    transform: translate(0,0);
    width: 100%;
  }

  .rightcorner{
  width: 150px;
  top: 4%;
  right: 2.5%;


  .social{
  display: block;
  text-align: center;
  margin: auto;

      a{

        width: 25%;
        height: 33px;

        i{
        width: 26px;
        height: 26px;
        line-height: 26px;
        font-size: 13px;
        margin: 0;
        }
      }
    }
  }
}

// .caption{
//   font-size: 25px;
//   width: 20%;
//   top: 4%;
//   left: 2.5%;
// }
  .rightbottom{
    display: none;
  }

  #mybutton {
    width: 100%;
    position: absolute;
    top: 10px;
    text-align: center;

       #mute{
         display: block;
         font-size: 25px;
         padding: 1%;
         // background-color: rgba(0,0,0,0.2);
         color: white;
       }
     }

 //     // OVERLAY CSS
 //     .knap{
 //       width: 100px;
 //       height: 100px;
 //       left: 50%;
 //       bottom: -50px;
 //       transform: translateX(-50%);
 //       border-radius: 50%;
 //       overflow: hidden;
 //
 //       i {
 //         height: 50px;
 //         width: 100px;
 //         padding-left: 35%;
 //         padding-top: 8%;
 //         font-size: 46px;
 //       }
 //     }
 //
 //
 //
 // //  Steffens kode ----------------
 //
 //     .mercoverlay {
 //       height: 500px;
 //       width: 100%;
 //       background-color: white;
 //       // aktiver når du er færdig med at style
 //       display: none;
 //       position: absolute;
 //       bottom: 0;
 //
 //       .control_prev{
 //         position: absolute;
 //         top: 210px;
 //         left: 5%;
 //         text-decoration: none;
 //         font-size: 60px;
 //         font-family: Roboto;
 //       }
 //
 //       .control_next{
 //         position: absolute;
 //         top: 210px;
 //         right: 5%;
 //         text-decoration: none;
 //         font-size: 60px;
 //         font-family: Roboto;
 //       }
 //
 //
 //
 //       #slider {
 //         width: 1005px;
 //         height: 400px;
 //         overflow: hidden;
 //         margin: auto;
 //         margin-top: 20px;
 //
 //         .slides {
 //           display: block;
 //           width: 3015px;
 //           height: 400px;
 //         }
 //
 //         .slide {
 //           float: left;
 //           list-style-type: none;
 //           width: 325px;
 //           height: 400px;
 //           margin: 0 5px;
 //
 //           p{
 //             font-family: Istok;
 //             text-align: center;
 //             margin-top: 10px;
 //             color: grey;
 //
 //             &:nth-of-type(2) {
 //               font-weight: bold;
 //               color: black;
 //             }
 //           }
 //         }
 //
 //         .left1 {
 //           margin-left: -335px;
 //         }
 //
 //           .left2 {
 //             margin-left: -670px;
 //         }
 //
 //         .left3{
 //           margin-left: -1005px;
 //         }
 //
 //         .left4 {
 //           margin-left: 1340px;
 //         }
 //       }
 //     }
   }

 }


@media screen and (min-width: 1200px) {

  body{

  .promo {

    video{
    position: fixed;
    transform: none;
    width: 100%;
  }

  .rightcorner{

    .social{
    display: block;
    text-align: center;
    margin: auto;

          i{
          width: 33px;
          height: 33px;
          line-height: 33px;
          font-size: 20px;
          }
        }
    }
}

  .promo .caption{
    font-size: 30px;
    width: 20%;
    top: 4%;
    left: 2.5%;
  }

    .promo .rightbottom{
      display: none;
    }

    // OVERLAY CSS
    .knap{
      width: 100px;
      height: 100px;
      left: 50%;
      bottom: -50px;
      transform: translateX(-50%);
      border-radius: 50%;
      overflow: hidden;

      i {
        height: 50px;
        width: 100px;
        padding-left: 35%;
        padding-top: 8%;
        font-size: 46px;
      }
    }



//  Steffens kode ----------------

    .mercoverlay {
      height: 500px;
      width: 100%;
      background-color: white;
      // aktiver når du er færdig med at style
      display: none;
      position: absolute;
      bottom: 0;

      .control_prev{
        position: absolute;
        top: 210px;
        left: 5%;
        text-decoration: none;
        font-size: 60px;
        font-family: Roboto;
      }

      .control_next{
        position: absolute;
        top: 210px;
        right: 5%;
        text-decoration: none;
        font-size: 60px;
        font-family: Roboto;
      }



      #slider {
        width: 1005px;
        height: 400px;
        overflow: hidden;
        margin: auto;
        margin-top: 20px;

        .slides {
          display: block;
          width: 3015px;
          height: 400px;
        }

        .slide {
          float: left;
          list-style-type: none;
          width: 325px;
          height: 400px;
          margin: 0 5px;

          p{
            font-family: Istok;
            text-align: center;
            margin-top: 10px;
            color: grey;

            &:nth-of-type(2) {
              font-weight: bold;
              color: black;
            }
          }
        }

        .left1 {
          margin-left: -335px;
        }

          .left2 {
            margin-left: -670px;
        }

        .left3{
          margin-left: -1005px;
        }

        .left4 {
          margin-left: 1340px;
        }
      }
    }
  }
}
